
@font-face {
    font-family: 'corporate_abold';
    src: url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporatea-bold-webfont.woff2') format('woff2'),
         url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporatea-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporate_a_condensedregular';
    src: url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporateacon-reg-webfont.woff2') format('woff2'),
         url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporateacon-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporate_aregular';
    src: url('corporatea-regular-webfont.woff2') format('woff2'),
         url('corporatea-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotbold_italic';
    src: url('corporateatot-bolita-webfont.woff2') format('woff2'),
         url('corporateatot-bolita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotdemregular';
    src: url('corporateatot-dem-webfont.woff2') format('woff2'),
         url('corporateatot-dem-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotdemitalic';
    src: url('corporateatot-demita-webfont.woff2') format('woff2'),
         url('corporateatot-demita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotligregular';
    src: url('corporateatot-lig-webfont.woff2') format('woff2'),
         url('corporateatot-lig-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotligitalic';
    src: url('corporateatot-ligita-webfont.woff2') format('woff2'),
         url('corporateatot-ligita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporateatotitalic';
    src: url('corporateatot-regita-webfont.woff2') format('woff2'),
         url('corporateatot-regita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporate_sdemi';
    src: url('corporates-demi-webfont.woff2') format('woff2'),
         url('corporates-demi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporate_slight';
    src: url('corporates-light-webfont.woff2') format('woff2'),
         url('corporates-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'corporate_sregular';
    src: url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporatea-regular-webfont.woff2') format('woff2'),
         url('https://github.com/duyduc27/Fonts/raw/master/My%20font/Micro/corporatea-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}